services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    environment:
      - DB_URL=postgresql://postgres:tajnehaslo@db:5432/licznik
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: tajnehaslo
      POSTGRES_DB: licznik
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: